@use "../mixins" as *;

.footer {
  background-color: #232f3e;
  color: #ddd;
  text-align: center;
  margin-top: 20px;
  padding: 1rem;
  font-weight: 600;
  @include flexBox(center, center, column);
  gap: 10px;

  &__icon-section {
    display: flex;
    gap: 10px;
  }

  &__icon {
    transition: all ease;
    font-size: 23px;
    cursor: pointer;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.3);
    }
  }
}
