@use "../../mixins" as *;
.productCategory {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;

  @include mediaQuery("md") {
    flex-direction: row;
  }
  &__filter {
    min-width: 20rem;
    .accordion {
      color: black;
      background-color: white;
      padding: 1rem;

      h4 {
        font-size: 1.2rem;
      }

      .filtersection {
        position: relative;
        margin: 10px 10px;
        span {
          font-size: 1rem;
        }
        .label {
          position: relative;
          padding: 10px 0;
          font-size: 0.8rem;
          font-weight: 600;
          color: black;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .arrow {
            font-size: 1.1rem;
          }
        }

        .content {
          position: relative;
          background: white;
          text-align: justify;
          transition: 0.5s;
        }
      }
    }
  }

  &__items {
    .dropdown_filter {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      justify-content: space-between;
      align-items: center;

      @include mediaQuery("md") {
        width: 70vw;
        margin: 0 auto;
        flex-direction: row;
        max-width: 65vw;
      }

      p {
        font-size: 1.2rem;
      }
      &__section {
        label {
          font-size: 1.1rem;
          margin-right: 0.4rem;
        }
        select {
          height: 30px;
          border: 1px solid #d9d4d4;
        }
      }
    }
    &__info {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
    }
    &__section {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem;
    }
  }

  .pagination {
    margin-top: 1.5rem;
    display: flex;
    padding: 10px;
    justify-content: center;
  }
}
