@import "../../breakpoints.scss";
.success {
  min-height: 80vh;
  display: flex;
  &__card-section {
    width: 90vw;
    margin: auto;
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mediaQuery("md") {
      width: 50vw;
      padding: 40px;
    }

    &__icon {
      color: green;
      font-size: 40px;
    }
    h2 {
      text-transform: capitalize;
      margin: 10px;
      font-weight: 800;
      font-size: 1rem;
      color: #324d67;
    }
    .email-msg {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }
    p {
      font-size: 20px;
      font-weight: 600;
    }

    .description {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      margin-top: 15px;
    }

    .email {
      margin-left: 5px;
      color: #f02d34;
    }

    .btn {
      margin-top: 0.5rem;
      padding: 0.8rem 1.5rem;
      border: 0;
      background-color: #f02d34;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.5s ease;
      &:hover,
      :focus {
        background: #d1272d;
      }
    }
  }
}
