$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 600px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin mediaQuery($size) {
  @media (min-width: map-get($breakpoints,$size)) {
    @content;
  }
}

@mixin flexBox($justifyContent, $alignItems, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
