@import "../../breakpoints.scss";
.cart {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 0.4s ease-in-out;

  &__section {
    width: 100vw;
    min-height: 100vh;
    float: right;
    background-color: white;
    padding: 8px 10px;
    transition: all 0.5s ease-in-out;

    @include mediaQuery("lg") {
      width: 40vw;
    }

    &__icon {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      gap: 2px;
      margin-left: 10px;
      border: none;
      background-color: transparent;

      span {
        margin-left: 3px;
        font-size: 1.2rem;
      }
    }

    &--items {
      color: #635bff;
    }
    &--empty {
      margin: 40px;
      text-align: center;
      h3 {
        font-weight: 600;
        font-size: 20px;
      }
      button {
        margin-top: 1.5rem;
      }
      @include mediaQuery("md") {
        button {
          width: auto;
        }
      }
    }
  }

  .cart-product {
    margin-top: 5px;
    padding: 15px 10px;
    overflow: auto;
    max-height: 80vh;

    &__info {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      padding-left: 5px;
      padding-bottom: 25px;
      border-bottom: 1px solid #ebebeb;
      @include mediaQuery("md") {
        flex-direction: row;
        gap: 30px;
      }
    }

    &__image {
      width: 70%;
      height: 150px;
      object-fit: contain;
      border-radius: 15px;
      background-color: #ebebeb;

      @include mediaQuery("md") {
        width: 250px;
      }
    }

    &__desc {
      width: 100%;
      p {
        font-size: 1rem;
        margin: 0.5rem 0;

        @include mediaQuery("md") {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }

    &__quantity {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;

      &__desc {
        max-width: 130px;
        height: 40px;
        display: flex;
        border: 1px solid gray;
      }
      .qty-value {
        font-size: 16px;
        text-align: center;
        padding: 7px 18px;
      }

      .decrement-btn,
      .increment-btn {
        outline: none;
        border: 0;
        font-size: 16px;
        background-color: white;
        text-align: center;
        font-weight: 600;
        height: 100%;
        cursor: pointer;
        padding: 10px;
        width: 100%;
      }

      .decrement-btn {
        border-right: 1px solid gray;
        color: red;
      }

      .increment-btn {
        border-left: 1px solid gray;
        color: rgb(49, 168, 49);
      }

      .remove-item {
        font-size: 24px;
        color: #f02d34;
        cursor: pointer;
        background: transparent;
        border: none;
      }
    }
  }

  &__total-section {
    padding: 1rem;
    h4 {
      text-align: center;
    }
    @include mediaQuery("md") {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__btn {
    width: 100%;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    margin-top: 10px;
    background-color: #635bff;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s ease-in;
    &:hover {
      background-color: #6e68dc;
    }
  }
}
